<!DOCTYPE html>
<html>
<head>
  <title>Cms</title>
  <%= stylesheet_link_tag    "cms/admin", :media => "all" %>
  <%= javascript_include_tag "cms/admin", "cms/plugin/ckeditor/init" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "CMS Admin", cms.root_path, :class => "brand" %>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="<%= "active" if params[:controller] == "cms/admin/settings" %>"><%= link_to "Setting", cms.admin_settings_path %></li>
            <li class="<%= "active" if params[:controller] == "cms/admin/users" %>"><%= link_to "User", cms.admin_users_path %></li>
            <li class="<%= "active" if params[:controller] == "cms/admin/navigations" %>"><%= link_to "Navigation", cms.admin_navigations_path %></li>
            <li class="<%= "active" if params[:controller] == "cms/admin/images" %>"><%= link_to "Image", cms.admin_images_path %></li>
            <li class="<%= "active" if params[:controller] == "cms/admin/pages" %>"><%= link_to "Page", cms.admin_pages_path %></li>
            <li class="<%= "active" if params[:controller] == "cms/admin/sidebars" %>"><%= link_to "Sidebar", cms.admin_sidebars_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

  <%= yield :footer %>

  <div id="overlay-container">
    <div id="overlay"></div>
    <div id="overlay-img"></div>
  </div>
</body>
</html>
