<!DOCTYPE html>
<html>
<head>
  <%= render_cms_page_title(@meta_title || @title) %>
  <%= render_cms_meta_description(@meta_description) %>
  <%= render_cms_meta_keywords(@meta_keywords) %>
  <%= stylesheet_link_tag    "cms/application", :media => "all" %>
  <%= javascript_include_tag "cms/application" %>

  <% if Rails.env.production? || Rails.env.staging? %>

  <script type="text/javascript" src="//www.hellobar.com/hellobar.js"></script>
  <script type="text/javascript">
    new HelloBar(51615,72839);
  </script>

  <% end %>

  <%= csrf_meta_tags %>
  <%= render_canonical_url(@canonical_url) %>
</head>
<body>
  <% if cms_user_signed_in? && current_cms_user.is_admin? %>
  <div id="admin-bar">
    <%= link_to "Manage Your CMS", cms.admin_users_path, :class => "admin-button" %>
    <%= link_to "Logout", cms.destroy_cms_user_session_path, :class => "logout-button" %>
  </div>
  <% end %>
  <div id="header">
    <div class="content">
      <%= link_to "Logo", cms.root_path, :class => "logo" %>
      <p id="website-description">
        #1 Resource for Resume Tips<br>
        Resume Examples, Resume Templates and More
      </p>
    </div>
  </div>

  <div id="navigation">
    <ul>
      <% Cms::Navigation.where(:is_hidden => false).order(:position).each do |navigation| %>
        <li><%= link_to navigation.name, navigation.link %></li>
      <% end %>
    </ul>
  </div>

  <div id="container">
    <div id="breadcrumb">
      <% page_ids = @page.all_parent_ids.concat([@page.id]) rescue [] %>
      <% page_ids.each_with_index do |page_id, i| %>
        <% page = Cms::Page.find(page_id) %>
        <% unless (i + 1) == page_ids.length %>
          <%= link_to page.title, cms.pages_path(page) %> >
        <% else %>
          <%= link_to page.title, cms.pages_path(page), :class => "last" %>
        <% end %>
      <% end %>
    </div>

    <%= yield %>
    <div class="clear-all"></div>
  </div>

  <%= render "cms/shared/footer" %>

  <%= render "cms/shared/google_analytics" if Rails.env.production? %>

</body>
</html>
