<!DOCTYPE html>
<html>
<head>
  <%= render_cms_page_title(@meta_title || @title) %>
  <%= render_cms_meta_description(@meta_description) %>
  <%= render_cms_meta_keywords(@meta_keywords) %>
  <%= stylesheet_link_tag    "cms/application", :media => "all" %>
  <%= javascript_include_tag "cms/application" %>

  <% if Rails.env.production? || Rails.env.staging? %>

  <script type="text/javascript" src="//www.hellobar.com/hellobar.js"></script>
  <script type="text/javascript">
    new HelloBar(51615,72839);
  </script>

  <% end %>

  <%= csrf_meta_tags %>
  <%= render_canonical_url(@canonical_url) %>
</head>
<body>
  <% if cms_user_signed_in? && current_cms_user.is_admin? %>
  <div id="admin-bar">
    <%= link_to "Manage Your CMS", cms.admin_users_path, :class => "admin-button" %>
    <%= link_to "Logout", cms.destroy_cms_user_session_path, :class => "logout-button" %>
  </div>
  <% end %>
  <div id="header">
    <div class="content">
      <%= link_to "Logo", cms.root_path, :id => "logo" %>
      <p id="website-description">
        Your career starts here
      </p>
      <div id="google-search-bar">
        <%= form_for "" do |f| %>
          <% f.text_field "search", :class => "google-search", :placeholder => "Search Site" %>
        <% end %>
      </div>
    </div>
  </div>

  <div id="navigation">
    <ul>
      <% Cms::Navigation.where(:is_hidden => false).order(:position).each do |navigation| %>
        <li>
          <%= link_to navigation.name, navigation.link, :class => navigation_selected?(navigation, @page) %>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="container">
    <div id="main">

      <%= render "cms/shared/breadcrumb" if @page.parent_id.present? %>

      <%= yield %>

      <%= render "cms/shared/sub_categories" %>
    </div>

    <div id="sidebar">
      <%=raw convert_macro(@page.sidebar.try(:content)) if @page.present? %>
    </div>

    <%= render "cms/shared/footer" %>
  </div>

  <%= render "cms/shared/google_analytics" if Rails.env.production? %>

</body>
</html>
