<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <%= stylesheet_link_tag    "cms/application", :media => "all" %>
  <%= javascript_include_tag "cms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <div class="content">
      <%= link_to "Logo", cms.root_path, :id => "logo" %>
      <p id="website-description">
        Your career starts here
      </p>
      <div id="google-search-bar">
        <gcse:searchbox-only></gcse:searchbox-only>
      </div>
    </div>
  </div>

  <div id="navigation">
    <ul>
      <% Cms::Navigation.where(:is_hidden => false).each do |navigation| %>
        <li><%= link_to navigation.name, navigation.link %></li>
      <% end %>
    </ul>
  </div>

  <div id="container">
    <%= yield %>

    <%= render "cms/shared/footer" %>
  </div>

</body>
</html>
