<div class="row">
  <div class="span12">
    <section>
      <div class="page-header">
        <h1>Image List</h1>
      </div>
    </section>
    <section>
      <%= link_to "Upload New Image", cms.new_admin_image_path, :class => "btn btn-primary pull-right", :style => "margin-bottom:30px" %>
    </section>
  </div>
</div>

<% @files.each_with_index do |file, i| %>
  <% if (i % 6) == 0 %>
    <div class="row" style="margin-bottom:30px">
  <% end %>
  <div class="span2">
    <%= link_to image_tag(file.image.url(:thumb), :title => file.title), cms.admin_image_path(file) %>
    <div class="action">
      <%= link_to "Edit", cms.edit_admin_image_path(file) %>
      <%= link_to "Delete", cms.admin_image_path(file), :class => "pull-right", :method => "delete", :confirm => "It can't be recoverd, are your sure?" %>
    </div>
  </div>
  <% if (i % 6) == 5 || @files.length == (i + 1) %>
    </div>
  <% end %>
<% end %>

<div class="row" style="text-align:center">
  <%= paginate @files %>
</div>