<div class="row">
  <div class="span12">
    <section>
      <div class="page-header">
        <h1>Page List</h1>
      </div>
    </section>

    <section>
      <%= link_to "Create New Page", cms.new_admin_page_path, :class => "btn btn-primary pull-right", :style => "margin-bottom:30px" %>
      <%= form_tag admin_pages_path, :method => "GET", :id => "search-form" do %>
        <input type="submit" value="search" class="pull-right search-button">
        <input type="text" name="q" value="<%= params[:q]%>" class="pull-right search-input" placeholder="Search">
      <% end %>
    </section>
  </div>
</div>

<% if @last_update_page.present? %>

<div class="alert alert-success">
  <a href="#" class="close" data-dismiss="alert">×</a>
  <strong>Last Update:</strong> <%= @last_update_page.title %>
  <%= link_to "Edit", cms.edit_admin_page_path(@last_update_page), :class => "btn btn-mini pull-right" %>
  <%= link_to "Preview", cms.pages_path(@last_update_page), :target => "_blank", :class => "btn btn-mini pull-right", :style => "margin-right:10px" %>
</div>

<% end %>

<% if params[:q].present? %>
  <%= render "search", :pages => @pages %>
<% else %>
  <%= render "page_list", :pages => @pages, :type => "root" %>
<% end %>
